<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    {% block head %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/vnd.microsoft.icon" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='styles/nav.css') }}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='styles/reset.css') }}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='styles/content.css') }}" />   
    <link rel="stylesheet" type="text/css" media="print"  href="{{ url_for('static', filename='styles/print.css') }}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='styles/main.css') }}" />
    <!--<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.3.2.min.js') }}"></script>-->
    <script type="text/javascript" src="https://astrowebmaps.wr.usgs.gov/webmapatlas/js/jquery/jquery-1.4.2.min.js"></script>
    <!--<script type="text/javascript" src="{{ url_for('static', filename='js/nav.js') }}"></script>-->

    <title>Planetary Names</title>
    {% endblock %}
  </head>
  <body>
    {% block header %}
      <div id="body">
        <div id="header_wrapper">
          <div id="header_left_logo">
            <a id="iau_logo" href="http://iau.org/" target="iau"><img src="{{ url_for('static', filename='images/layout/iau_logo.png') }}" alt="iau logo"/></a>
          </div>
          
          <div id="header_right_logos">
            <a id="usgs_logo" href="https://astrogeology.usgs.gov/" target="usgs"><img src="{{ url_for('static', filename='images/layout/usgs_logo.png') }}" alt="usgs logo"/></a>
            <a id="nasa_logo" href="https://www.nasa.gov/" target="nasa"><img src="{{ url_for('static', filename='images/layout/nasa_logo.png') }}" alt="nas logo"/></a>
          </div>

          <div id="header_center">
            <div id="header_text">
              Gazetteer of Planetary Nomenclature
            </div>
            <div id="header_sub_text">
              International Astronomical Union (IAU)  Working Group for Planetary System Nomenclature (WGPSN)
            </div>
          </div>
        </div>
    {% endblock %}
    
    {% block content %}
      <div id="layout_glass_wrapper" >
          <table id="layout_glass_table">
            <tbody>
              <tr class="layout">
                <td class="layout spacer"></td>
                <td class="layout" id="layout_glass_top_left"  ><div class="content_spacer"></div></td> <!-- Need to use a div, because IE wont do min-width for a td -->
                <td class="layout" id="layout_glass_top_center">
                  <div class="search_wrapper">
                    <form beanclass="nomenclature.action.SearchResultsActionBean" id="simple_search" name="simple_search">
                      <div class="simple_search_wrapper" title="Search for Features">
                        <input type="text" name="feature" size="17" id="simple_search_box"  class="search_box_empty" ALT="search for a feature by name"/><img src="{{ url_for('static', filename='images/layout/search_button.png') }}" id="search_button" onClick=" document.simple_search.submit();" alt="search"/>
                      </div>
                    </form>
                  </div>
                  <div class="page_title">
                    Planetary Names: {% block title %} {{ page_title }} {% endblock %}
                  </div>

                </td>
                <td class="layout" id="layout_glass_top_right" ><div class="content_spacer"></div></td>
                <td class="layout spacer"></td>
              </tr>              
              <tr class="layout">
                <td class="layout"><div class="spacer"> </div></td><!-- Need to use a div, because IE wont do min-width for a td -->
                <td class="layout" id="layout_glass_middle_right"></td>
                <td class="layout" id="layout_glass_middle_center">

                  <table id="layout_content_table">
                    <tr class="layout">
                      <td class="layout" id="layout_content_top_left_corner"><div class="content_spacer"></div></td>
                      <td class="layout" id="layout_content_top_left_header"></td>
                      <td class="layout" id="layout_content_top_right_header"></td>
                      <td class="layout" id="layout_content_top_right_corner"><div class="content_spacer"></div></td>
                    </tr>
                    <tr class="layout">
                      <td class="layout" id="layout_content_middle_left_corner" rowspan="2"> </td>
                      <td class="layout" id="layout_content_middle_left_header" rowspan="2">
                        
                        <!-- Left nav  -->
                        <div id="menu_mask"></div>
                        
                        <div id="menu_wrapper">
                          {% include 'menu.html' %}
                        </div>
                        
                        <!-- Need to use a div, because IE wont do min-width for a td -->
                        <div class="ie_sucks"> </div><!-- It has to have a space in it.. otherwise it wont behave the same in IE-->
                        
                      </td>
                      <td class="layout" id="layout_content_middle_right_header">
                        <div id="layout_content_wrapper">
                          {% block body %} {{ page_body }} {% endblock %}
                        </div>
                      </td>
                      <td class="layout" id="layout_content_middle_right_corner" rowspan="2"></td>
                    </tr>
                    <tr class="layout">
                      <td class="layout" id="layout_content_footer">
                        <a href="${contextPath}/Page/Contact_Us">Contact Us</a> |
                        <a target="iau" href="http://iau.org">IAU</a> |
                        <a target="astro" href="http://astrogeology.usgs.gov">USGS Astrogeology Science Center</a> |
                        <a target="nasa" href="http://www.nasa.gov">NASA</a>
                      </td>
                    </tr>
                    <tr class="layout">
                      <td class="layout" id="layout_content_bottom_left_corner" ></td>
                      <td class="layout" id="layout_content_bottom_left_header" ></td>
                      <td class="layout" id="layout_content_bottom_right_header"></td>
                      <td class="layout" id="layout_content_bottom_right_corner"></td>
                    </tr>
                  </table>
                </td>
                <td class="layout" id="layout_glass_middle_right"></td>
                <td class="layout spacer"                        ></td>
              </tr>
              <tr class="layout">
                <td class="layout spacer"                         ></td>
                <td class="layout" id="layout_glass_bottom_left"  ></td>
                <td class="layout" id="layout_glass_bottom_center"></td>
                <td class="layout" id="layout_glass_bottom_right" ></td>
                <td class="layout spacer"                         ></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div> 

      <script type="text/javascript">var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-28905790-1']); _gaq.push(['_trackPageview']);(function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'https://ssl') + '.google-analytics.com/ga.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();</script>
    {% endblock %}    
  </body>
</html>