{% extends 'page_template.html' %}

{% block head %}{{ super() }}{% endblock %}

{% block title %}Advanced Nomenclature Search{% endblock %}

{% block body %}

  <h2>Advanced Nomenclature Search</h2>
  <hr/>
  <p>This search engine searches the database of planetary surface feature
      names. Here are links with more information about the <a href="Page/Planets">names of planets and their
      moons</a> and information about the <a href="Page/Rings">names of rings and ring gaps</a>.  </p>
  <hr/>

  <form id="form" action="/SearchResults" method='post'>
    <div id="errors">
      {% if errors %} {{ errors }} {% endif %}
      {% if messages %} {{ messages }} {% endif %}
    </div>
    
    <table class="advanced_search">
      
      <tr><!------------------------- SYSTEM -------------------------------->
        <td><strong><label for="System">System:</label></strong></td>
        <td>
          <select name="System" id="system">
            <option value="">All</option>
            {% for target in approved_targets|unique(attribute='system')|sort(attribute='system') %}
              <option value="{{ target.system|title }}" 
                {% if target.system|title == criteria['System'] %} selected {% endif %}>
                {{ target.system|title }}
              </option>
            {% endfor %}
          </select> 
        </td>
      </tr>

      <tr>
        <td></td>
        <td style="padding: 0 5px;"><b>or</b></td>
      </tr>
      
      <tr><!------------------------- TARGET -------------------------------->
        <td><strong><label for="Target">Target:</label></strong></td>
        <td>
          <select name="Target" id="target">
            <option value="">All</option>
            {% for target in approved_targets %}
              <option value="{{ target.target_id }}_{{ target.display_name }}"
                {% if target.target_id ~ '_' ~ target.display_name == criteria['Target'] %} selected {% endif %}>
                {{ target.display_name }}
              </option>
            {% endfor %}
          </select>
        </td>
      </tr>

      <tr><td></td></tr>
      
      <tr><!------------------------- COORDINATE SYSTEM --------------------->
        <td><strong>Coordinate System:</strong></td>
        <td>
          <select name="Positive East" id="is_positive_east" title="coordinate system direction" 
                  data-cs="true" data-default="true">
            <option value="true">+East</option>
            <option value="false" {% if criteria['Positive East'] == 'false' %} selected {% endif %}>+West</option>
          </select>
          <select name="0-360" id="is_0_360" title="coordinate system degrees" 
                  data-cs="true" data-default="true">
            <option value="true">0 - 360</option>
            <option value="false" {% if criteria['0-360'] == 'false' %} selected {% endif %}>(-180) - 180</option>
          </select>
          <select name="Planetocentric" id="is_planetocentric" title="coordinate system latitudes" 
                  data-cs="true" data-default="true">
            <option value="true">Planetocentric</option>
            <option value="false" {% if criteria['Planetocentric'] == 'false' %} selected {% endif %}>Planetographic</option>
          </select>
          <a href="Page/Website_coordinatesystems" title="need help with coordinate systems?" target="_new">not sure?</a>
        </td>
      </tr>

      <tr><!------------------------- LAT/LONG ------------------------------>
        <td><strong>Latitude Longitude:</strong><br/><i>Can only be applied to<br/>one target.</i></td>
        <td>
          <div class="note">Search Results will identify features whose center points or extents intersect the 
                  latitude/longitude parameters set here.
          </div>
          <table class="latlon">
            <tr>
              <td>Latitude:</td>
              <td>
                <input type="text" name="north_lat" placeholder="northernmost" title="Northernmost Latitude: N.NN"
                       value="{{ criteria['Northernmost Latitude'] }}" pattern="^\d*\.?\d{2}$" disabled>
                to
                <input type="text" name="south_lat" placeholder="southernmost" title="Southernost Latitude: N.N"
                       value="{{ criteria['Southernmost Latitude'] }}" pattern="^\d*\.?\d{2}$" disabled>
              </td>
            </tr>
            <tr>
              <td>Longitude:</td>
              <td>
                <input type="text" name="east_long" placeholder="easternmost" title="Easternmost Longitude: N.NN" 
                       value="{{ criteria['Easternmost Longitude'] }}" pattern="^\d*\.?\d{2}$" disabled>
                to
                <input type="text" name="west_long" placeholder="westernmost" title="Westernmost Longitude: N.NN" 
                       value="{{ criteria['Westernmost Longitude'] }}" pattern="^\d*\.?\d{2}$" disabled>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      
      <tr><!------------------------- FEATURE TYPE -------------------------->
        <td><strong><label for="Feature Type">Feature Type:</label></strong></td>
        <td>
          <select name="Feature Type" id="featureType">
            <option value="">All</option>
            {% for feature_type in feature_types %}
              <option value="{{ feature_type.feature_type_id }}_{{ feature_type.name }}"
                {% if feature_type.feature_type_id ~ '_' ~ feature_type.name == criteria['Feature Type'] %} 
                  selected {% endif %}>
                {{ feature_type.name }}
              </option>
            {% endfor %}
          </select>
        </td>
      </tr>

      <tr><!------------------------- FEATURE NAME -------------------------->
        <td><strong><label for="Feature Name">Feature Name:</label></strong></td>
        <td><input type="text" name="Feature Name" maxlength="40" value="{{ criteria['Feature Name'] }}"></td>
      </tr>

      <tr><!------------------------- APPROVAL STATUS ----------------------->
        <td><strong><label for="Approval Status">Approval Status:</label></strong></td>
        <td>
          <select name="Approval Status" id="approval_status">
            <option value="">All</option>
            {% for approval_status in approval_statuses %}
              {% if approval_status.approval_status_id in [5,6,7] %}
                <option value="{{ approval_status.approval_status_id }}_{{ approval_status.name }}"
                  {% if approval_status.approval_status_id ~ '_' ~ approval_status.name == criteria['Approval Status'] %} 
                    selected {% endif %}>
                  {{ approval_status.name }}
                </option>
              {% endif %}
            {% endfor %}
          </select>
        </td>
      </tr>

      <tr><!------------------------- FEATURE DIAMETER ---------------------->
        <td><strong>Feature Diameter (km):</strong></td>
        <td><input type="text" class="diameter_input" name="Minimum Feature Diameter" title="minimum diameter: N.NN" placeholder="minimum"
                   pattern="^\d*\.?\d{2}$" value="{{ criteria['Minimum Feature Diameter'] }}">
            to
            <input type="text" class="diameter_input" name="Maximum Feature Diameter" title="maximum diameter: N.NN" placeholder="maximum"
                   pattern="^\d*\.?\d{2}$" value="{{ criteria['Maximum Feature Diameter'] }}">
        </td>
      </tr>

      <tr><!------------------------ APPROVAL DATE -------------------------->
        <td><strong>Approval Date:</strong></td>
        <td><div class="note">Month and day values were added to the database on 2006-09-13. Prior to that date, only the   
                    year was recorded.
            </div>
            <input type="text" name="Earliest Approval Date" title="from date: MM-DD-YYYY" placeholder="earliest" 
                   pattern="^(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])-(19|20)[0-9][0-9]$" value="{{ criteria['Earliest Approval Date'] }}">
            to
            <input type="text" name="Latest Approval Date" title="to date: MM-DD-YYYY" placeholder="latest"
                   pattern="^(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])-(19|20)[0-9][0-9]$" value="{{ criteria['Latest Approval Date'] }}">
            <span class="note">MM-DD-YYYY</span>
        </td>
      </tr>

      <tr><td></td></tr>

      <tr><!------------------------- CONTINENT ----------------------------->
          <td><strong><label for="continent">Continent:</label></strong></td>
          <td>
            <select name="Continent" id="continent">
              <option value="">All</option>
              {% for continent in continents %}
                <option value="{{ continent.continent_id }}_{{ continent.continent_name }}" 
                  {% if continent.continent_id ~ '_' ~ continent.continent_name == criteria['Continent'] %} 
                    selected {% endif %}>
                  {{ continent.continent_name }}
                </option>
              {% endfor %}
            </select>
          </td>
      </tr>

      <tr>
        <td></td>
        <td style="padding: 0 5px;"><b>or</b></td>
      </tr>

      <tr><!------------------------- ETHNICITY ----------------------------->
        <td><strong><label for="ethnicity">Ethnicity/Cultural Group:</label></strong></td>
        <td>
          <select name="Ethnicity" id="ethnicity">
            <option value="">All</option>
            {% for continent in continents %}
              {% for ethnicity in continent.ethnicities %}
                <option value="{{ continent.continent_code }}{{ ethnicity.ethnicity_name }}"
                  {% if continent.continent_code ~ ethnicity.ethnicity_name == criteria['Ethnicity'] %} 
                    selected {% endif %}>
                  {{ continent.continent_code }} - {{ ethnicity.ethnicity_name }}
                </option>
              {% endfor %}
            {% endfor %}
          </select>
        </td>
      </tr>

      <tr><td></td></tr>

      <tr><!------------------------- REFERENCE ----------------------------->
        <td><strong><label for="reference">Reference:</label></strong></td>
        <td colspan="3">
          <select name="Reference" id="reference">
            <option value="">All</option>
              {% for feature_reference in feature_references %}
                <option value="{{ feature_reference.feature_reference_id }}_{{ feature_reference.name }}"
                  {% if feature_reference.feature_reference_id ~ '_' ~ feature_reference.name == criteria['Reference'] %} 
                    selected {% endif %}>
                  [{{ feature_reference.feature_reference_id }}] {{ feature_reference.name }}
                </option>
              {% endfor %}
          </select>
        </td>
      </tr>
    </table>
    <button type="button" name="clear" class="clear">Clear</button>
    <button type="submit" name="advanced_submit" class="submit_button">Search</button>
  </form>

  <script>
  $(document).ready( function() {

    toggle_latlong();

    $('#system').on('change', function() {
      $('#target').val("");
    });

    $('#target').on('change', function() {
      $('#system').val("");
      toggle_latlong();
    });

    $('#continent').on('change', function() {
      $('#ethnicity').val("");
    });

    $('#ethnicity').on('change', function() {
      $('#continent').val("");
    });

    $('form .clear').on('click', function() {
      $('select, input').each( function() {
        if ($(this).is('[data-cs]')) {
          $(this).val($(this).attr('data-default'))
        } else {
          $(this).val('');
        }
      });
      toggle_latlong();
    });

    function toggle_latlong() {
      if ($('#target').val()) {
        $('.latlon input').removeAttr('disabled');
      } else {
        $('.latlon input').attr('disabled', true).val('');
      }
    }

  });
  
</script>


{% endblock %}


