{% extends 'page_template.html' %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='styles/tablesorter.default.min.css') }}" />
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.tablesorter.min.js') }}"></script>
{% endblock %}

{% block title %}Search Results{% endblock %}

{% block body %}

  <h3>Nomenclature Search Results</h3>
  <div id="criteria"><!-- include criterian.jsp --></div>

  <form action="/SearchResults" class="next_prev" id="form">
    <input type="hidden" name="feature"            id="feature"             value="${actionBean.feature}"           />
    <input type="hidden" name="system"             id="system"              value="${actionBean.system}"            />
    <input type="hidden" name="target"             id="target"              value="${actionBean.target}"            />
    <input type="hidden" name="featureType"        id="featureType"         value="${actionBean.featureType}"       />
    <input type="hidden" name="northernLatitude"   id="northernLatitude"    value="${actionBean.northernLatitude}"  />
    <input type="hidden" name="southernLatitude"   id="southernLatitude"    value="${actionBean.southernLatitude}"  />
    <input type="hidden" name="westernLongitude"   id="westernLongitude"    value="${actionBean.westernLongitude}"  />
    <input type="hidden" name="easternLongitude"   id="easternLongitude"    value="${actionBean.easternLongitude}"  />
    <input type="hidden" name="wellKnownText"      id="wellKnownText"       value="${actionBean.wellKnownText}"     />
    <input type="hidden" name="minFeatureDiameter" id="minFeatureDiameter"  value="${actionBean.minFeatureDiameter}"/>
    <input type="hidden" name="maxFeatureDiameter" id="maxFeatureDiameter"  value="${actionBean.maxFeatureDiameter}"/>
    <input type="hidden" name="beginDate"          id="beginDate"           value="${actionBean.beginDate}"         />
    <input type="hidden" name="endDate"            id="endDate"             value="${actionBean.endDate}"           />
    <input type="hidden" name="approvalStatus"     id="approvalStatus"      value="${actionBean.approvalStatus}"    />
    <input type="hidden" name="continent"          id="continent"           value="${actionBean.continent}"         />
    <input type="hidden" name="ethnicity"          id="ethnicity"           value="${actionBean.ethnicity}"         />
    <input type="hidden" name="reference"          id="reference"           value="${actionBean.reference}"         />
    <input type="hidden" name="sort_asc"           id="sort_asc"            value="${actionBean.sort_asc}"          />
    <input type="hidden" name="sort_column"        id="sort_column"         value="${actionBean.sort_column}"       />
    <input type="hidden" name="is_positive_east"   id="is_positive_east"    value="${actionBean.is_positive_east}"  />
    <input type="hidden" name="is_0_360"           id="is_0_360"            value="${actionBean.is_0_360}"          />
    <input type="hidden" name="is_planetographic"  id="is_planetographic"   value="${actionBean.is_planetographic}" />
    <input type="hidden" name="displayType"        id="displayType"         value="HTML"                            />
      
    <input id="pageStart" name="pageStart" value="${actionBean.prevPageStart}" type="hidden" />
    <p>Go back and <a onClick="$('#form').attr('action','/AdvancedSearch'); 
                                $('#displayType').val('HTML'); $('#form').submit();" 
                      class="js_action">Refine your Search
                   </a>.
    </p>

    {% if planetographic %}<p><em>All search result latitudes are planetographic</em></p>
    {% else %}<p><em>All search result latitudes are planetocentric</em></p>{% endif %}

    {% if results %}
      
      <!--<span class="h3">Your search results (${actionBean.pageStart + 1} - -->
      <span class="h3">Your search results ({{page_start + 1}} - 
        {% if page_start + results_perpage < result_count %}{{page_start + results_perpage}} of {{result_count}}){% endif %}
        {% if page_start + results_perpage >= result_count %}{{result_count}} of {{result_count}}){% endif %}
      </span>

        <!--<c:if test="${actionBean.pageStart + actionBean.resultsPerPage < actionBean.resultCount}">
          ${actionBean.pageStart + actionBean.resultsPerPage} of ${actionBean.resultCount})
        </c:if>
        <c:if test="${actionBean.pageStart + actionBean.resultsPerPage >= actionBean.resultCount}">
          <c:if test="${actionBean.pageStart > 1}">
            ${actionBean.resultCount} of ${actionBean.resultCount})
          </c:if>
          <c:if test="${actionBean.pageStart <= 1}">
            ${actionBean.resultCount} of ${actionBean.resultCount})
          </c:if>
        </c:if>
      </span>-->
      
      <div class="next_prev_buttons">
        <c:if test="${actionBean.showPrev}">
            <s:submit name="displayResults" value="Prev Page" onclick="$('#pageStart').val(${actionBean.prevPageStart}); $('#displayType').val('HTML'); submit();"/>
        </c:if>

        <c:if test="${actionBean.showNext}">
            <s:submit name="displayResults" value="Next Page"  onclick="$('#pageStart').val(${actionBean.nextPageStart}); $('#displayType').val('HTML'); submit();"/>
        </c:if>
      </div>
      
      <span class="h3" style="margin-left: 50px">Per Page:</span>
      <select name="resultsPerPage" id="resultsPerPage">
        <option value="25"          >25</option>
        <option value="50" selected >50</option>
        <option value="100"         >100</option>
        <option value="200"         >200</option>
        <option value="500"         >500</option>
      </select>

      <div id="add_columns"> + Add/Remove Columns
        <div id="popup">
          <ul>
            <li><input type="checkbox" name="featureIDColumn"                />Feature ID         </li>
            <li><input type="checkbox" name="featureNameColumn"      checked />Feature Name       </li>
            <li><input type="checkbox" name="cleanFeatureNameColumn"         />Clean Feature Name </li>
            <li><input type="checkbox" name="targetColumn"           checked />Target             </li>
            <li><input type="checkbox" name="diameterColumn"         checked />Diameter           </li>
            <li><input type="checkbox" name="centerLatLonColumn"     checked />Center Lat/Lon     </li>
            <li><input type="checkbox" name="latLonColumn"                   />Lat/Lon Boundaries </li>
            <li><input type="checkbox" name="coordSystemColumn"      checked />Coordinate System  </li>
            <li><input type="checkbox" name="contEthColumn"                  />Continent/Ethnicity</li>
            <li><input type="checkbox" name="featureTypeColumn"              />Feature Type       </li>
            <li><input type="checkbox" name="featureTypeCodeColumn"          />Feature Type Code  </li>
            <li><input type="checkbox" name="quadColumn"                     />Quad               </li>
            <li><input type="checkbox" name="approvalStatusColumn"   checked />Approval Status    </li>
            <li><input type="checkbox" name="approvalDateColumn"     checked />Approval Date      </li>
            <li><input type="checkbox" name="referenceColumn"                />Reference          </li>
            <li><input type="checkbox" name="originColumn"           checked />Origin             </li>
            <li><input type="checkbox" name="additionalInfoColumn"           />Additional Info    </li>
            <li><input type="checkbox" name="lastUpdatedColumn"              />Last Updated       </li>
          </ul>
        </div>
      </div>
           
      <table class="tablesorter tablesorter-default search_results">
        <thead>
          <tr class="tablesorter-headerRow row_header">
            <th class="featureIDColumn tablesorter-header"          >Feature ID            </th>
            <th class="featureNameColumn tablesorter-header"        >Feature Name          </th>
            <th class="cleanFeatureNameColumn tablesorter-header"   >Clean Feature Name    </th>
            <th class="targetColumn tablesorter-header"             >Target                </th>
            <th class="diameterColumn tablesorter-header"           >Diameter              </th>
            <th class="centerLatLonColumn tablesorter-header"       >Center Latitude       </th>
            <th class="centerLatLonColumn tablesorter-header"       >Center Longitude      </th>
            <th class="latLonColumn tablesorter-header"             >Northernmost Latitude </th>
            <th class="latLonColumn tablesorter-header"             >Southernmost Latitude </th>
            <th class="latLonColumn tablesorter-header"             >Easternmost Longitude </th>
            <th class="latLonColumn tablesorter-header"             >Westernmost Longitude </th>
            <th class="coordSystemColumn tablesorter-header"        >Coordinate System     </th>
            <th class="contEthColumn tablesorter-header"            >Continent Ethnicity   </th>
            <th class="featureTypeColumn tablesorter-header"        >Feature Type          </th>
            <th class="featureTypeCodeColumn tablesorter-header"    >Feature Type Code     </th>
            <th class="quadColumn tablesorter-header"               >Quad                  </th>
            <th class="approvalStatusColumn tablesorter-header"     >Approval Status       </th>
            <th class="approvalDateColumn tablesorter-header"       >Approval Date         </th>
            <th class="referenceColumn tablesorter-header"          >Reference             </th>
            <th class="originColumn tablesorter-header"             >Origin                </th>
            <th class="additionalInfoColumn tablesorter-header"     >Additional Info       </th>
            <th class="lastUpdatedColumn tablesorter-header"        >Last Updated          </th>
          </tr>
        </thead>
        <tbody>
          {% for feature in results %}
          <tr class="hover-highlight {% if feature.approval_status_id in [6,7] %} deprecated {% endif %}">

            <td class="featureIDColumn right">{{ feature.feature_id }}</td>

            <td class="featureNameColumn">
              <a href="/Feature/{{ feature.feature_id }}">
              {% if feature.approval_status_id in [6,7] %} 
                [{{ feature.name }}] 
              {% else %} 
                {{ feature.name }} 
              {% endif %}
              </a>
            </td>

            <td class="cleanFeatureNameColumn">{{ feature.clean_name }}</td>

            <td class="targetColumn">{{ feature.target.display_name }}</td>

            <td class="diameterColumn right">{{ feature.diameter|floatformat }}</td>

            <td class="centerLatLonColumn right">{{ feature.center_shape.y|floatformat }}</td>

            <td class="centerLatLonColumn right">{{ feature.center_shape.x|floatformat }}</td>
            
            <td class="latLonColumn right"> 
              {% if feature.northmostlatitude %} 
                {{ feature.northmostlatitude|floatformat }} 
              {% else %}
                -
              {% endif %}
            </td>
            
            <td class="latLonColumn right"> 
              {% if feature.southmostlatitude %} 
                {{ feature.southmostlatitude|floatformat }} 
              {% else %}
                -
              {% endif %}
            </td>

            <td class="latLonColumn right"> 
              {% if feature.eastmostlongitude %} 
                {{ feature.eastmostlongitude|floatformat }} 
              {% else %}
                -
              {% endif %}
            </td>

            <td class="latLonColumn right"> 
              {% if feature.westmostlongitude %} 
                {{ feature.westmostlongitude|floatformat }} 
              {% else %}
                -
              {% endif %}
            </td>        

            <td class="coordSystemColumn center"> 
              {% if feature.target.targetcoordinates[0].coordinatesystem.is_positive_east %}
                +E
              {% else %}
                +W
              {% endif %}

              {% if feature.target.targetcoordinates[0].coordinatesystem.is_0_360 %}
                (0-360)
              {% else %}
                (0-180)
              {% endif %}
            </td>
            
            <td class="contEthColumn center"> 
              {{ feature.ethnicity.ethnicity_name }}
            </td>            
            
            <td class="featureTypeColumn right"> {{ feature.featuretype.name }}</td>
            
            <td class="featureTypeCodeColumn right"> {{ feature.featuretype.code }}</td>
                       
            <td class="quadColumn right">
              {% if not feature.quad_code %}
                -
              {% elif not feature.quad_link %}
                {{ feature.quad_code }}
              {% else %}
                <a href="{{ feature.quad_link }}" target="_new">{{ feature.quad_code }}</a>
              {% endif %}
            </td>
            
            <td class="approvalStatusColumn right">
              <span title="{{ feature.approvalstatus.name }}">{{ feature.approvalstatus.short_name }}</span>
            </td>

            <td class="approvalDateColumn nobr right" data-sort="{{ feature.approval_date }}"> 
              {% if not feature.approval_date %}
                -
              {% elif feature.show_year %}
                {{ feature.approval_date|yearformat }}
              {% else %}
                {{ feature.approval_date|dateformat }}
              {% endif %}
            </td>

            <td class="referenceColumn right">
              {% if feature.featurereference %}
                <span title="{{ feature.featurereference.name }}">
                  [{{ feature.featurereference.feature_reference_id }}]
                </span>
              {% else %}
                <span title="none">-</span>
              {% endif %}
            </td>
            
            <td class="originColumn">{{ feature.origin }}</td>

            <td class="additionalInfoColumn">{{ feature.description }}</td>

            <td class="lastUpdatedColumn right" data-sort="{{ feature.feature_updated_on }}">
              {{ feature.feature_updated_on|dateformat }}
            </td>

          </tr>
          {% endfor %}
        </tbody>
      </table>

      <div class="bottom_next_prev">
        <!-- include searchPaging.jsp -->
      </div>
      
      <div>
        <p>Download all your search results in one of the follow formats (<a class="dont_underline" href="Page/Website">need help?</a>):</p>
        <ul>
          <li><a target="_new" onClick="$('#displayType').val('XML'); $('#form').submit();" class="js_action">XML</a> useful for application development<br/></li>
          <li><a target="_new" onClick="$('#displayType').val('KML'); $('#form').submit();" class="js_action">KML</a> for importing into Google Earth<br/></li>
          <li><a target="_new" onClick="$('#displayType').val('CSV'); $('#form').submit();" class="js_action">CSV</a> (comma
            separated values) for importing into Excel<br/></li>
          <li><a target="_new" onClick="$('#displayType').val('TSV'); $('#form').submit();" class="js_action">TSV</a> (tab
            separated values) for importing into other spread sheets<br/></li>
        </ul>
        <p>Note - to select which columns are included in your download, use the <a href="AdvancedSearch">Advanced Search</a>.
      </div>
    
    {% else %}
       Your search returned no results.
    {% endif %}
   </form>

<script type="text/javascript">

  {% if false %}
    var featureSystem="test";
    var featureTarget="test";
  {% endif %}
  
  
  $(document).ready(function(){

    $(".search_results").tablesorter({

      textExtraction: function(node) {
        var attr = $(node).attr('data-sort');
        if (typeof attr !== undefined) {
          return attr;
        }

        return $(node).text();
      },
      headers: {
        '#add_columns': {
          sorter: false
        }
      },
      sortList: []
      
    });

    $(".search_results").on("sortEnd", function(e, table) {
      highlightRows();
    })

    //if someone changes the 'per page' reset to the first page and run the search again
    $('#resultsPerPage').change(function() {
      $('#pageStart').val(0);
      $('#form').submit();
    });

      
    $('#add_columns').each(function () {
      // options
      
      var time      =  250; // ms
      var hideDelay =  750; // ms

      var hideDelayTimer = null;

      // tracker
      var beingShown = false;
      var shown      = false;

      var trigger = $('#add_columns');
      var popup   = $('#popup');

      // set the mouseover and mouseout on both element
      $([trigger.get(0), popup.get(0)]).on('mouseover', function () {
        // stops the hide event if we move from the trigger to the popup element
        if (hideDelayTimer) clearTimeout(hideDelayTimer);

        // don't trigger the animation again if we're being shown, or already visible
        if (beingShown || shown) {
          return;
        } else {
          beingShown = true;

          // reset position of popup box
          popup.css({
            display: 'block' // brings the popup back in to view
          })

          // (we're using chaining on the popup) now animate it's opacity and position
          .animate({
            //top: '+=' + distance + 'px',
            opacity: 1
          }, time, 'swing', function() {
            // once the animation is complete, set the tracker variables
            beingShown = false;
            shown = true;
          });
        }
      }).on('mouseout', function () {
        // reset the timer if we get fired again - avoids double animations
        if (hideDelayTimer) clearTimeout(hideDelayTimer);

        // store the timer so that it can be cleared in the mouseover if required
        hideDelayTimer = setTimeout(function () {
          hideDelayTimer = null;
          popup.animate({
            //top: '-=' + distance + 'px',
            opacity: 0
          }, time, 'swing', function () {
            // once the animate is complete, set the tracker variables
            shown = false;
            // hide the popup entirely after the effect (opacity alone doesn't do the job)
            popup.css('display', 'none');
          });
        }, hideDelay);
      });
    });
 
    // when the dom is ready, hide and show the right columns
    $('#popup input').each(function() {
      var check_box = $(this);
      if(!check_box.is(':checked')) {  // all you need to do is hide the ones not checked
        $('.' +check_box.attr('name')).hide();
      }
    });
  
    // When someone changes the check box, show or hide the right row
    $('#popup input').click(function() { 
      var check_box = $(this);
      if(check_box.is(':checked')) {
        $('.' +check_box.attr('name')).show();
      } else {
        $('.' +check_box.attr('name')).hide();
      }
    });

    highlightRows();

  });

  function highlightRows() {

    // remove current highlighting, where it exists
    $(".search_results > tbody > tr").removeClass("row_odd");
    $(".search_results > tbody > tr").removeClass("last_row");

    $(".search_results > tbody > tr:odd").addClass("row_odd"); // highlight every other row
    $(".search_results > tbody > tr:last").addClass("last_row");
  }

</script>

{% endblock %}
