{% extends 'page_template.html' %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='styles/tablesorter.default.min.css') }}" />
  <script src="{{ url_for('static', filename='js/jquery.tablesorter.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.tablesorter.pager.js') }}"></script>
  <script src="{{ url_for('static', filename='js/widget-output.js') }}"></script>
{% endblock %}

{% block title %}Search Results{% endblock %}

{% block body %}

  <h3>Nomenclature Search Results</h3>
  <div id="criteria">
    <form id="resubmit_criteria" action="/AdvancedSearch" method="post">
      {% for criterion_name, criterion_label in criteria_labels.items() %}
        <div>{{ criterion_name }}: <b>{{ criterion_label }}</b>
          <a><sup class="clear_criterion pointer" data-criterion="{{ criterion_name }}"> [x]</sup></a>
        </div>
      {% endfor %}
      
      {% for criterion_name, criterion_value in criteria.items() %}
        <input name="{{ criterion_name }}" value="{{ criterion_value }}" type="hidden" />
      {% endfor %}
      <p>Go back and <button type="submit" class="pointer">Refine your Search</button></p>
    </form>
  </div>

  {% if is_planetocentric %}<p><em>All search result latitudes are planetocentric</em></p>
  {% else %}<p><em>All search result latitudes are planetographic</em></p>{% endif %}

  {% if results %}
    <span class="pager">
      <button class="first" alt="first page" title="first page"><<</button>
      <button class="prev" alt="previous page" title="previous page"><</button>
      <span class="h3 pagedisplay"></span>
      <button class="next" alt="next page" title="next page">></button>
      <button class="last" alt="last page" title="last page">>></button>

      <span class="h3" style="margin-left:50px;">Results Per Page:</span>
      <select class="pagesize pointer">
        <option value="25"           >25</option>
        <option value="50"  selected >50</option>
        <option value="100"          >100</option>
        <option value="200"          >200</option>
        <option value="500"          >500</option>
      </select>
    </span>

    <div id="add_columns"> + Add/Remove Columns
      <div id="popup">
        <ul>
          <li><input type="checkbox" name="featureIDColumn"                />Feature ID         </li>
          <li><input type="checkbox" name="featureNameColumn"      checked />Feature Name       </li>
          <li><input type="checkbox" name="cleanFeatureNameColumn"         />Clean Feature Name </li>
          <li><input type="checkbox" name="targetColumn"           checked />Target             </li>
          <li><input type="checkbox" name="diameterColumn"         checked />Diameter           </li>
          <li><input type="checkbox" name="centerLatLonColumn"     checked />Center Lat/Lon     </li>
          <li><input type="checkbox" name="latLonColumn"                   />Lat/Lon Boundaries </li>
          <li><input type="checkbox" name="coordSystemColumn"      checked />Coordinate System  </li>
          <li><input type="checkbox" name="contEthColumn"                  />Continent/Ethnicity</li>
          <li><input type="checkbox" name="featureTypeColumn"              />Feature Type       </li>
          <li><input type="checkbox" name="featureTypeCodeColumn"          />Feature Type Code  </li>
          <li><input type="checkbox" name="quadColumn"                     />Quad               </li>
          <li><input type="checkbox" name="approvalStatusColumn"   checked />Approval Status    </li>
          <li><input type="checkbox" name="approvalDateColumn"     checked />Approval Date      </li>
          <li><input type="checkbox" name="referenceColumn"                />Reference          </li>
          <li><input type="checkbox" name="originColumn"           checked />Origin             </li>
          <li><input type="checkbox" name="additionalInfoColumn"           />Additional Info    </li>
          <li><input type="checkbox" name="lastUpdatedColumn"              />Last Updated       </li>
        </ul>
      </div>
    </div>

          
    <table class="tablesorter tablesorter-default search_results">
      <thead>
        <tr class="tablesorter-headerRow row_header">
          <th class="featureIDColumn tablesorter-header hidden"          >Feature ID            </th>
          <th class="featureNameColumn tablesorter-header hidden"        >Feature Name          </th>
          <th class="cleanFeatureNameColumn tablesorter-header hidden"   >Clean Feature Name    </th>
          <th class="targetColumn tablesorter-header hidden"             >Target                </th>
          <th class="diameterColumn tablesorter-header hidden"           >Diameter              </th>
          <th class="centerLatLonColumn tablesorter-header hidden"       >Center Latitude       </th>
          <th class="centerLatLonColumn tablesorter-header hidden"       >Center Longitude      </th>
          <th class="latLonColumn tablesorter-header hidden"             >Northernmost Latitude </th>
          <th class="latLonColumn tablesorter-header hidden"             >Southernmost Latitude </th>
          <th class="latLonColumn tablesorter-header hidden"             >Easternmost Longitude </th>
          <th class="latLonColumn tablesorter-header hidden"             >Westernmost Longitude </th>
          <th class="coordSystemColumn tablesorter-header hidden"        >Coordinate System     </th>
          <th class="contEthColumn tablesorter-header hidden"            >Continent Ethnicity   </th>
          <th class="featureTypeColumn tablesorter-header hidden"        >Feature Type          </th>
          <th class="featureTypeCodeColumn tablesorter-header hidden"    >Feature Type Code     </th>
          <th class="quadColumn tablesorter-header hidden"               >Quad                  </th>
          <th class="approvalStatusColumn tablesorter-header hidden"     >Approval Status       </th>
          <th class="approvalDateColumn tablesorter-header hidden"       >Approval Date         </th>
          <th class="referenceColumn tablesorter-header hidden"          >Reference             </th>
          <th class="originColumn tablesorter-header hidden"             >Origin                </th>
          <th class="additionalInfoColumn tablesorter-header hidden"     >Additional Info       </th>
          <th class="lastUpdatedColumn tablesorter-header hidden"        >Last Updated          </th>
        </tr>
      </thead>
      <tbody id="results_body">
        {% for feature in results %}
        <tr class="hover-highlight {% if feature.approval_status_id in [6,7] %} deprecated {% endif %}">

            <td class="featureIDColumn right hidden" >{{ feature.feature_id }}</td>

            <td class="featureNameColumn hidden">
                <a href="/Feature/{{ feature.feature_id }}">
                {% if feature.approval_status_id in [6,7] %} 
                [{{ feature.name }}] 
                {% else %} 
                {{ feature.name }} 
                {% endif %}
                </a>
            </td>

            <td class="cleanFeatureNameColumn hidden">{{ feature.clean_name }}</td>

            <td class="targetColumn hidden">{{ feature.target.display_name }}</td>

            <td class="diameterColumn right hidden">{{ feature.diameter|floatformat }}</td>

            <td class="centerLatLonColumn right hidden">
              {% if is_planetocentric %}
                {{ feature.center_shape.y|floatformat }}                
              {% else %}
                {{ feature.to_graphic(feature.center_shape.y)|floatformat }}
              {% endif %}
            </td>

            <td class="centerLatLonColumn right hidden">
              {% set center_longitude = feature.center_shape.x %} 
                {% if not is_positive_east %}
                  {% set center_longitude = feature.to_positive_west(center_longitude) %}
                {% endif %}
                {% if not is_0_360 %}
                  {% set center_longitude = feature.to_180(center_longitude) %}
                {% endif %}
              {{ center_longitude|floatformat }}
            </td>
            
            <td class="latLonColumn right hidden"> 
              {% if not feature.northmostlatitude %}
                -
              {% elif is_planetocentric %}
                {{ feature.northmostlatitude|floatformat }}
              {% else %}
                {{ feature.to_graphic(feature.northmostlatitude)|floatformat }}                
              {% endif %}
            </td>
            
            <td class="latLonColumn right hidden"> 
              {% if not feature.southmostlatitude %}
                -
              {% elif is_planetocentric %}
                {{ feature.southmostlatitude|floatformat }}
              {% else %}
                {{ feature.to_graphic(feature.southmostlatitude)|floatformat }}                
              {% endif %}
            </td>

            <td class="latLonColumn right hidden"> 
              {% if not feature.eastmostlongitude %}
                -
              {% else %}
                {% set eastmost_longitude = feature.eastmostlongitude %} 
                  {% if not is_positive_east %}
                    {% set eastmost_longitude = feature.to_positive_west(eastmost_longitude) %}
                  {% endif %}
                  {% if not is_0_360 %}
                    {% set eastmost_longitude = feature.to_180(eastmost_longitude) %}
                  {% endif %}
                {{ eastmost_longitude|floatformat }}
              {% endif %}
            </td>

            <td class="latLonColumn right hidden"> 
              {% if not feature.westmostlongitude %}
                -
              {% else %}
                {% set westmost_longitude = feature.westmostlongitude %} 
                  {% if not is_positive_east %}
                    {% set westmost_longitude = feature.to_positive_west(westmost_longitude) %}
                  {% endif %}
                  {% if not is_0_360 %}
                    {% set westmost_longitude = feature.to_180(westmost_longitude) %}
                  {% endif %}
                {{ westmost_longitude|floatformat }}
              {% endif %}
            </td>        

            <td class="coordSystemColumn center hidden"> 
                {{ coordinate_system }}
            </td>
            
            <td class="contEthColumn center hidden"> 
                {{ feature.ethnicity.ethnicity_name }}
            </td>            
            
            <td class="featureTypeColumn right hidden"> {{ feature.featuretype.name }}</td>
            
            <td class="featureTypeCodeColumn right hidden"> {{ feature.featuretype.code }}</td>
                        
            <td class="quadColumn right hidden">
                {% if not feature.quad_code %}
                -
                {% elif not feature.quad_link %}
                {{ feature.quad_code }}
                {% else %}
                <a href="{{ feature.quad_link }}" target="_new">{{ feature.quad_code }}</a>
                {% endif %}
            </td>
            
            <td class="approvalStatusColumn right hidden">
                <span title="{{ feature.approvalstatus.name }}">{{ feature.approvalstatus.short_name }}</span>
            </td>

            <td class="approvalDateColumn nobr right hidden" data-sort="{{ feature.approval_date }}"> 
                {% if not feature.approval_date %}
                -
                {% elif feature.show_year %}
                {{ feature.approval_date|yearformat }}
                {% else %}
                {{ feature.approval_date|dateformat }}
                {% endif %}
            </td>

            <td class="referenceColumn right hidden">
                {% if feature.featurereference %}
                <span title="{{ feature.featurereference.name }}">
                    [{{ feature.featurereference.feature_reference_id }}]
                </span>
                {% else %}
                <span title="none">-</span>
                {% endif %}
            </td>
            
            <td class="originColumn hidden">{{ feature.origin }}</td>

            <td class="additionalInfoColumn hidden">{{ feature.description }}</td>

            <td class="lastUpdatedColumn right hidden" data-sort="{{ feature.feature_updated_on }}">
                {{ feature.feature_updated_on|dateformat }}
            </td>

        </tr>
        {% endfor %}
      </tbody>
    </table>

    <span class="pager">
      <button class="first" alt="first page" title="first page"><<</button>
      <button class="prev" alt="previous page" title="previous page"><</button>
      <span class="h3 pagedisplay"></span>
      <button class="next" alt="next page" title="next page">></button>
      <button class="last" alt="last page" title="last page">>></button>
    </span>

    
    <div>
      <p>Download all your search results in one of the follow formats (<a class="dont_underline" href="Page/Website">need help?</a>):</p>
      <ul>
        <li><a target="_new" class="js_action" id="csv_output">CSV</a> (comma
          separated values) for importing into Excel<br/></li>
      </ul>
    </div>
  
  {% else %}
      Your search returned no results.
  {% endif %}

<script>
  
  $(document).ready(function(){
    updateColumns();

    $(".search_results")
      .tablesorter({
        widgets: ['zebra', 'output'],
        widgetOptions: {
          output_separator: ',',
          output_delivery: 'd',
          output_saveFileName: 'searchresults.csv'
        },
        textExtraction: function(node) {
          var attr = $(node).attr('data-sort');
          if (attr !== undefined && attr !== false) {
            return attr;
          }
          return $(node).text();
        },
        headers: {
          '#add_columns': {
            sorter: false
          }
        },
        sortList: [],
      })
      .tablesorterPager({
        container: $(".pager"),
        cssDisabled: 'disabled',
        size: 50,
        output: '{startRow} - {endRow} of {totalRows} results'
      });
      
    // show correct columns when toggled
    $('#popup input').on('click', function() { 
      var check_box = $(this);
      if(check_box.is(':checked')) {
        $('.' +check_box.attr('name')).removeClass('hidden');
      } else {
        $('.' +check_box.attr('name')).addClass('hidden');
      }
    });

    $('#csv_output').on('click', function() {
      $('.search_results').trigger('outputTable');
    });

  });

  function updateColumns() {
    $('#add_columns').each(function () {
      // options     
      var time      =  250; // ms
      var hideDelay =  750; // ms
      var hideDelayTimer = null;

      // tracker
      var beingShown = false;
      var shown      = false;

      var trigger = $('#add_columns');
      var popup   = $('#popup');

      // set the mouseover and mouseout on both element
      $([trigger.get(0), popup.get(0)]).on('mouseover', function () {
        // stops the hide event if we move from the trigger to the popup element
        if (hideDelayTimer) clearTimeout(hideDelayTimer);

        // don't trigger the animation again if we're being shown, or already visible
        if (beingShown || shown) {
          return;
        } else {
          beingShown = true;

          // reset position of popup box
          popup.css({
            display: 'block' // brings the popup back in to view
          })

          // (we're using chaining on the popup) now animate it's opacity and position
          .animate({
            //top: '+=' + distance + 'px',
            opacity: 1
          }, time, 'swing', function() {
            // once the animation is complete, set the tracker variables
            beingShown = false;
            shown = true;
          });
        }
      }).on('mouseout', function () {
        // reset the timer if we get fired again - avoids double animations
        if (hideDelayTimer) clearTimeout(hideDelayTimer);

        // store the timer so that it can be cleared in the mouseover if required
        hideDelayTimer = setTimeout(function () {
          hideDelayTimer = null;
          popup.animate({
            //top: '-=' + distance + 'px',
            opacity: 0
          }, time, 'swing', function () {
            // once the animate is complete, set the tracker variables
            shown = false;
            // hide the popup entirely after the effect (opacity alone doesn't do the job)
            popup.css('display', 'none');
          });
        }, hideDelay);
      });
    });

    // show correct columns
    $('#popup input').each(function() {
      var check_box = $(this);
      if(check_box.is(':checked')) {  // all you need to do is hide the ones not checked
        $('.' +check_box.attr('name')).removeClass('hidden');
      }
    });

    $('.clear_criterion').on('click', function() {
      var criterion = $(this).attr('data-criterion');
      var form = $('#resubmit_criteria');
      $(form).find(`input[name='${criterion}']`).val('');
      form.attr('action', '/SearchResults');
      form.submit();
    });
  }

</script>

{% endblock %}
