{% extends 'page_template.html' %}

{% block head %}{{ super() }}{% endblock %}

{% block body %}
    
  <h2>Target: {{ page_title }} </h2>
  <hr/>

  {{ page_body }}
   
  <div class="feature_types">
    <h3>Search by Feature Types</h3>
    <ul>
      <li><a href="/SearchResults?Target={{ target.target_id }}_{{ target.display_name }}">All Features</a></li>
      {% for feature_type in feature_types %}
        <li>
          <a href="/SearchResults?Target={{ target.target_id }}_{{ target.display_name }}&Feature%20Type={{ feature_type.feature_type_id }}_{{ feature_type.name }}" title="{{ feature_type.name }}">
              {{ feature_type.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>

  {{ page_related }}

  <script>
    {{ page_javascript }} 
  </script>

{% endblock %}